{:collection :datoms
 :fields {:op :keyword
          :entity :ref
          :attribute :keyword
          :value :string
          :tx :ref
          :time :inst}
 :indexes {:eavt [entity attribute value tx]
           :aevt [attribute entity value tx]
           :avet [attribute value entity tx]  ; indexed attrs
           :vaet [value attribute entity tx]} ; reverse
 :filter (comp #{:vault.entity/root :vault.entity/update} :data/type)
 :transform vault.data.datom/tx-datoms}
