; Vault should be able to represent filesystem hierarchies succinctly.

; common metadata
{:name "foo.clj"
 :permissions "0755" ; octal string
 :owner-id 1000
 :owner "greglook"
 :group-id 500
 :group "users"
 :change-time #inst "2013-10-23T20:06:13.000-00:00"
 :modify-time #inst "2013-10-25T09:13:24.000-00:00"}


{; common metadata...
 :entries #vault/ref "algo:digest"     ; reference to static set
 :vault/type :fs/directory}


{; common metadata...
 ; Files contain ONE of the two following entries:
 :content #vault/ref "algo:digest" ; direct reference to file content blob
 :parts #vault/ref "algo:digest"   ; reference to a vault/bytes structure
 :vault/type :fs/file}


{; common metadata...
 :target "../foo/bar"      ; symlinked path
 :vault/type :fs/symlink}


; Full example:
{:change-time #inst "2013-10-23T20:06:13.000-00:00",
 :content #vault/ref "sha256:461566632203729fe8e1c6f373e53b5618069817f00f916cceb451853e0b9f75",
 :group "users",
 :group-id 500,
 :modify-time #inst "2013-10-25T09:13:24.000-00:00",
 :name "foo.clj"
 :owner "greglook",
 :owner-id 1000,
 :permissions "0755"
 :vault/type :fs/file}
