; Cryptographic identity assertions are specified with _signature_ structures.
; Signatures are maps which may have the following keys:
; - `:key` - a reference to the public key blob
; - `:signature` - a byte string giving the digital signature value
; - `:target` - signature target (see below)
;
; The _target_ of a signature may either be a blob reference or an index value.
; If the target refers to a blob, the entire blob contents are the bytes being
; signed. If an integer value is given, it is treated as an index into the
; collection of EDN values in the blob containing the signature structure. By
; default, the target is `0`, meaning the first EDN value in the blob. This
; simplifies the common case where a value and its signature are given in the
; same blob.
;
; In the index case, the bytes to be signed are those that form the full value
; representation **AS PRINTED IN THE BLOB** excluding any leading or trailing
; whitespace. For example, a tagged map should include the bytes forming the
; '#' character though those forming the closing '}'.


#vault/signature
{:key #vault/ref "algo:digest"
 :signature #bin "TWFuIGlzIGRpc3Rpbmd1aXNoZWQsIG5vdCBvbmx5IG="}


#vault/signature
{:key #vault/ref "algo:digest"
 :signature #bin "TWFuIGlzIGRpc3Rpbmd1aXNoZWQsIG5vdCBvbmx5IG="
 :target #vault/ref "algo:digest"}
